.Details {
  margin-top: 100px;
  background-color: #f5f1ed;
  height: max-content;
  font-family: "Maven Pro", sans-serif;
}

.loading-svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loading-circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

.btn-pay {
  background-color: #7bca57;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5em;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  transition: 0.5s;
  overflow: hidden;
}

.btn-pay:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-pay:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-pay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #68b545;
  opacity: 0;
  z-index: -1;
  transition: all 0.9s;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.book-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  margin: 1rem 2rem;
  gap: 3rem;
  border-bottom: 5px dotted black;
}

.book-img {
  height: 70vh;
  min-width: 300px;
  width: auto;
  object-fit: contain;
  border: 10px solid #a99985;
  background-color: #f5f1ed;
  box-shadow: 8px 8px 8px rgb(146, 146, 146);
}

.book-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
  background-color: #f5f1ed;
  height: 70vh;
  min-width: 300px;
  width: 400px;
  border: 10px solid #a99985;
  box-shadow: 8px 8px 8px rgb(146, 146, 146);
}

.book-info__info {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.book-info__info h4 {
  text-decoration: underline;
}
.book-info__info h2 {
  text-align: center;
}

.book-info__price {
  font-size: x-large;
}

.No-Stock {
  background-color: rgb(165, 37, 37);
  color: #f5f1ed;
  padding: 0.5rem;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
