.Details {
  background-color: #fdf0d5;
  height: 100vh;
  font-family: "Maven Pro", sans-serif;
}

.loading-svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loading-circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

.btn-pay {
  background-color: #087e8b;
  color: #fdf0d5;
  padding: 0.6rem;
  border: none;
  width: 90%;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 5px; */
}

.btn-pay:hover {
  cursor: pointer;
  transform: scale(1);
  
}

.btn-pay:hover::before {
  left: 0;
  right: 0;
  border-radius: 0.5em;
  opacity: 1;
}

.btn-pay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #68b545;
  opacity: 0;
  z-index: -1;
  transition: all 0.9s;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.book-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  margin: 1rem 2rem;
  gap: 6rem;
  border-bottom: 5px dotted black;
}

.foot-book{
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}
.foot-book_home{
  text-decoration: underline;
}

.book-img {
  height: 70vh;
  min-width: 300px;
  width: auto;
  object-fit: contain;
  border: 10px solid #780000;
  background-color: #669bbc;
}

.book-info__total{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  height: 35vh;
  gap: 1.9rem;
  padding: 2rem 3rem;
  /* min-width: 300px; */
  width: 500px;
}

.book-info_title {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  height: 35vh;
  gap: 1rem;
  padding: 2rem 3rem;
  /* min-width: 300px; */
  width: 500px;
}

.book-info__info {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.book-info__info-img{
  display: flex;
  width: 200px;
}

.book-info__info h4 {
  text-decoration: underline;
}
.book-info__info h2 {
  text-align: center;
}

.book-info__price {
  font-size: x-large;
}

.No-Stock {
  background-color: rgb(165, 37, 37);
  color: #f5f1ed;
  padding: 0.5rem;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media screen and (max-width: 720px) {
  .Details {
    height: max-content;
  }

  .book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .book-info {
    justify-content: space-evenly;
    /* height: 68vh; */
    width: 30vw;
  }

  .btn-pay {
    height: 150px;
    width: 120px;
  }

  .btn-pay {
    background-color: #7bca57;
    padding: 1.4rem;
    border: none;
  }

  .fa-solid fa-cart-shoppin {
    height: 150px;
  }

  .book-img {
    height: 60vh;
    width: 30vw;
  }
}
