.container {
    position: fixed;
    bottom: 32.5rem;
    right: 0;
    width: 22rem;
    height: 2.5rem;
    margin-right: .4rem;
}



.hide {
    display: none;

}

.btn {
    cursor: pointer;
    color: #eceaf1;
    background-color: #64718b;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 22rem;
    height: 2.3rem;
    margin-right: .4rem;
    font-size: 1.2rem;
    border-radius: 8px 8px 0 0;
    border: #6e7e9c;
}