.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #a99985;
  height: 150px;
  width: 700px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: .6s;
  margin: 0 auto;
}

@media (max-width: 990px) {
  .card {
    flex-grow: initial;
    width: 450px;
  }
}

@media (max-width: 780px) {
  .card {
    width: 300px;
  }
}

.card:hover {
  background-color: rgba(205, 191, 173, 0.8);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-info__title {
  text-transform: uppercase;
}

.card-info__description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card-info__description span {
  font-weight: bold;
}

.card-info__price {
  font-size: 1.4rem;
}