.card__total {
  display: flex;
  margin: 20px 20px;
}

.card__content {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.card-img {
  width: 150px;
  object-fit: cover;
}

.card-info__title {
  text-decoration: underline;
  text-transform: uppercase;
  color: #003049;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-info__price {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
}

.card:hover {
  background-color: #780000;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-add {
  background-color: #087e8b;
  color: #fdf0d5;
  padding: 0.6rem;
  border: none;
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 5px; */
}

.card-add:hover {
  cursor: pointer;
  transform: scale(1.005);
}

.card-add:hover::before {
  border-radius: 0.5em;
  left: 0;
  right: 0;
  opacity: 1;
}

.card-add::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #2e9200;
  opacity: 0;
  z-index: -1;
  transition: all 0.9s;
}

.slider-card {
  display: flex;
  flex-direction: column;
  /* height: 350px; */
  /* width: 100%; */
  justify-content: space-around;
  align-items: center;
}

.slider__card-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.slider__card-img {
  width: 140px;
  object-fit: cover;
}

.slider__card-info__title {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  color: #fdf0d5;
  font-size: 1.2em;
  margin-bottom: 10px;
}


@media (max-width: 990px) {
  .card {
    flex-grow: initial;
    width: 450px;
  }
}

@media (max-width: 780px) {
  .card {
    width: 300px;
  }
}
