.card {
  display: flex;
  gap: 1.5rem;
  background-color: #a99985;
  height: max-content;
  width: 450px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  transition: .6s;
}

.card:hover {
  background-color: rgb(169, 153, 133, 80%);
  box-shadow: 8px 8px 8px rgb(135, 139, 255);
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-info__title {
  text-transform: uppercase;
}

.card-info__description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card-info__description span {
  font-weight: bold;
}

.card-add {
  position: relative;
  font-size: 1em;
  padding: .5rem 1.2rem;
  background-color: #70798c;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.card-add:hover {
  cursor: pointer;
}

.card-add::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #a99985 0%, #a99985 50%, rgba(112, 121, 140, 1) 50%, rgba(112, 121, 140, 1) 60%);
  border-radius: .5em 0 0.5em 0;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card-add:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.card-add:active {
  box-shadow: 0.2em 0.2em 0.3em #dad2bc;
  transform: translate(0.1em, 0.1em);
}