.Register {
  height: 100vh;
  background-image: url(../img/wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Maven Pro", sans-serif;
}

.Register-content {
  border-radius: 0.5em;
  opacity: 1;
  background-color: #003049;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 1rem;
}

.Register-content > p {
  text-align: center;
  margin: 0.5em 0;
}

.Register-content > h1 {
  text-align: center;
  padding: 1rem;
  color: #FDF0D5;
}

.Register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1rem;
}

.Register-input {
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 0;
}

.Register-input label{
  /* color: #FDF0D5; */
  font-weight: 500;
}

.danger {
  
  font-weight: 600;
  color: red;
}

.Register-input__select {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  background-color: white;
  border-radius: 0.5em;
}
.errores {
  font-size: 14px;
  color: #C1121F;
  font-weight: 500;
  text-align: center;
}

.Register-input__option {
  font-family: "Maven Pro", sans-serif;
  border-radius: 0.5em;
}

.Register-create__btn {
  background-color: #669BBC;
  color: #ffff;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
  border: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.Register-create__btn:hover {
  cursor: pointer;
  background-color: #FDF0D5;
  color: #003049;
}

.Register-google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-Register__input {
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  outline: none;
  font-family: "Maven Pro", sans-serif;
}

.Login-Register__input::placeholder {
  font-family: "Maven Pro", sans-serif;
}

.Login-Register__input:focus {
  font-family: "Maven Pro", sans-serif;
}
