.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.comments>h2 {
  color: white;
  margin-bottom: 1rem;
}

.Comments-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.No-comments {
  display: flex;
  justify-content: center;
  width: 80%;
  border-radius: .5em;
  background-color: #FDF0D5;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 2rem;
}