.container {
  padding: 0.2rem 0;
  margin-bottom: 1rem 0;
  /* border-bottom: 1px dashed #003049; */
}

.img {
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .container {
    width: 60%;
  }

  .img {
    height: 10rem;
  }
}
