h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.landing {
  height: 100vh;
  background-color: #b0d0d3;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "Maven Pro", sans-serif;
}

.landing-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65vh;
  padding-bottom: 10%;
}

.landing-img {
  position: fixed;
  left: 41%;
  bottom: 28%;
  border-bottom: 5px solid black;
  width: 20%;
}

.landing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  font-size: 20px;
  margin-top: 20px;
  background: none;
  background-color: blanchedalmond;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 10px;
}

.landing-btn__span:hover {
  margin-right: 10px;
  transition: 0.4s;
}

.landing-btn i {
  margin-left: 10px;
  padding: 2px;
  font-size: 20px;
}

.landing-btn:hover i:hover {
  margin-left: 15px;
  transition: 0.4s;
}

.book-img__landing {
  height: 500px;
  width: 900px;
}

.landing-title {
  margin-bottom: 10px;
  font-size: 64px;
  text-align: justify;
}

.landing-content {
  z-index: 1;
  width: 60%;
  border-width: 10%;
  margin-left: 4%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.paragram {
  text-align: center;

  font-size: 1.2rem;
  padding-right: 0rem rem;
}
.paragram h2 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: justify;
}

.paragram p {
  margin-bottom: 20px;
  font-style: oblique;
  text-align: justify;
}

.landing-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.landing-sentence {
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.landing-sentence__text {
  display: flex;
  flex-direction: column;
}

.landing-benefit {
  display: flex;
  width: 955px;
}

.landing-benefit__item {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 10px;
}

.img__benefit {
  width: 85px;
  height: 85px;
}

.landing-benefit__description {
  height: 80%;
  display: flex;
  flex-direction: column;
}
.landing-benefit__description h4 {
  font-size: 16px;
  /* text-decoration: underline; */
}

.landing-benefit__description p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1.5px;
  font-style: italic;
}

/* tablet pequeña */
@media screen and (max-width: 720px) {
}

/* movil pequeño */
@media screen and (max-width: 376px) {
}
