h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.landing {
  height: 100vh;
  background-image: url(../img/wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Maven Pro", sans-serif;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  text-decoration: underline;
  background-color: #ff686b;
  border-radius: 50%;
  padding: 1.5rem 3rem;
  color: #ffffff;
}

.landing-content {
  /* background-color: rgb(255, 243, 221, 80%); */
  background-color: wheat;
  border-radius: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragram {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}

.landing-btn {
  background: #ffa69e;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  font-weight: 600;
  width: max-content;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  font-family: "Maven Pro", sans-serif;
}

.landing-btn__span {
  display: inline-block;
  transform: skew(21deg);
}

.landing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #ff686b;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.landing-btn:hover {
  color: #000;
}

.landing-btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* tablet pequeña */
@media screen and (max-width: 720px) {
  .landing-container {
    justify-content: space-evenly;
    height: 80vh;
    padding: 10px;
  }
  .landing-title {
    display: flex;
    font-size: 2.5rem;
  }
  .landing-content {
    height: 60%;
  }
  .paragram {
    font-size: 1.4rem;
  }
  .paragram p {
    font-size: 1.3rem;
  }
}

/* movil pequeño */
@media screen and (max-width: 376px) {
  .landing-container {
    justify-content: space-evenly;
    height: 80vh;
    padding: 10px;
  }
  .landing-title {
    display: flex;
    font-size: 2.2rem;
  }
  .landing-content {
    margin-top: 10px;
    height: 50vh;
  }
  .paragram {
    font-size: 1.3rem;
  }
  .paragram p {
    font-size: 1.2rem;
  }
}
