.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 80px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #003049;
  box-shadow: #669bbc 0px 1px 10px, #669bbc 0px 2px 5px, #669bbc 0px 10px 30px;
}

.about-hb {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: space-evenly;
}

.hb {
  width: 65px;
  height: 60px;
}

.navbar-logo__title {
  font-family: "Maven Pro", sans-serif;
  text-decoration: underline;
}

.navbar-options {
  display: flex;
  gap: 1rem;
}

.navbar-btn__option {
  font-weight: bold;
  position: relative;
  font-size: 1em;
  padding: 0.5rem 1.2rem;
  background-color: #669bbc;
  text-decoration: none;
  border: none;
  border-radius: 0.2em;
  color: #ffffff;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.navbar-btn__option:hover {
  cursor: pointer;
}

.navbar-btn__option::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    #669bbc 0%,
    #669bbc 50%,
    rgba(112, 121, 140, 1) 50%,
    #003049 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.navbar-btn__option:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.login {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 40px;
}

.navbar-btn__logout {
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
  background-color: #fdf0d5;
  cursor: pointer;
}
.navbar-btn__logout:hover{
  transition: 0.3s;
  background-color: #669bbc;
}

.navbar-btn__logout ion-icon {
  font-size: 22px; /* Ajusta el tamaño según tus necesidades */
  font-weight: bold; /* Hace que el ícono parezca más grueso cambiando el grosor de la fuente */
  transform: scale(1.2); /* Escala el ícono para que parezca más grande */
  color: black;
}
.navbar-btn__logout ion-icon:hover {
  transition: 0.6s;
  transform: scale(1.3);
  color: white;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
  /* border-radius: 30%; */
  border-top: 2px solid #fdf0d5;
  border-bottom: 2px solid #fdf0d5;
}

.user-img {
  border-radius: 50%;
  width: 50px;
}

.user-name {
  cursor: pointer;
  margin-left: 8px;
  color: #fdf0d5;
}

.user-btns {
  display: flex;
  gap: 1rem;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

/*navbar responsive*/

/* @media screen and (max-width: 1050px) {
  .navbar {
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    padding: 40px;
    align-content: space-between;
    justify-content: center;
  }

  .back_navbar{
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    width: 75%;
    z-index: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .about-hb {
    flex-direction: column;
    height: 32vh;
  }
  .login {
    flex-direction: column;
    align-content: flex-end;
    height: auto;
  }
  .user {
    border-radius: 15%;
    width: 180px;
    flex-direction: column;
    justify-content: center;
  }
  .avatar {
    justify-content: space-evenly;
  }
  .user-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .user-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .navbar{
    width: 30%;
  }
  .back_navbar{
    width: 70%;
  }

  
  
  
}

@media screen and (max-width: 375px) {
  .navbar {
    display: none;
  }
} */
